#content {
    min-height: calc(100vh - 260px);
}

.register {
    margin: 15% auto;
    width: 25%;
    background-color: #484848;
    padding: 2% 5%;
    color: white;
}

input {
    width: 100%;
    border: 0;
}